{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .color{
        color: salmon;
    }
    .color1{
        color: #1b1b1b;
    }
</style>
</head>
<body>
<h1><a class="color" href="{% url 'simple:index' %}"> Welcome</a></h1>
   {% for book in books %}
<h2>    <a class="color1" href="{% url 'simple:detail' book.pk %}">{{book.title}} </a><br>
</h2>

{% endfor%}


        {% block content%}

        {% endblock content %}
<p><a href="{% url 'simple:create' %}">Kitob qo'shish</a></p>
</body>
</html>