{% extends "blog/base.html"%}
{% block title %}{{post.title}}{% endblock%}


{% block content%}

<h1> Detail View </h1>
    <div class="border border-primary">
        <h2>{{post.title}}</h2>
        <p>Published {{post.publish}} by {{post.author}}</p>
        <p>{{post.body}}</p></div><br><br>


    <p><a class="btn btn-success" href="{% url 'blog:post_update' post.pk %}">Postni yangilash</a></p>
    <p><a class="btn btn-danger" href="{% url 'blog:post_delete' post.pk %}">Postni o'chirish</a></p>

     <a class="btn btn-warning" href="{% url 'blog:post_share' post.id %}">
     Share this post
 </a>

    {% with comments.count as total_comments %}
        <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}
    {% for comment in comments %}
        <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
            {{ comment.body|linebreaks }}
        </div>
        <hr>
        {% empty %}
        <p>Kommentlar mavjud emas.</p>
        {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
{% endblock %}
