{% extends "blog/base.html"%}
{% block title %} List View {% endblock%}

{% block content%}

<h1> List View</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">

                {{post.title}}
            </a>
        </h2>
        <p>
            Published {{post.author}}
        </p>
        {{post.body | truncatewords:1 | linebreaks}}
    {% endfor %}
{#<p><a href="{% url 'bl' %}">Post qo'shish</a></p>#}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}


        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
