{% extends "blog/base.html"%}
{% block title %} List View {% endblock%}

{% block content%}

<h1> List View</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">

                {{post.title}}
            </a>
        </h2>
        <p>
            Published {{post.author}}
        </p>
        {{post.body | truncatewords:1 | linebreaks}}
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>

</div>
{% endblock %}
